.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 4% 3.5%;
}

.title {
  font-size: 14vw;
  font-weight: bold;
}

.red-item {
  color: #cc4f4f;
}

.personal-info-container {
  margin: 3% 7% 0 7%;
}

.personal-info {
  font-weight: 600;
  font-size: 25px;
  text-align: left;
}

.about-me {
  margin-top: 2%;
  text-align: left;
  font-size: 17px;
}

.skill-logos {
  margin-top: 4%;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.contact-item {
  padding: 2px;
}

.skill-logos .skill-title {
  margin-bottom: 2%;
  color: #d6dede;
  text-align: left;
}

.contact .skill-title {
  margin-bottom: 1%;
}

a:link {
  color: white;
}

a:hover {
  color: #cc4f4f;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 13vw;
  }
  .personal-info {
    margin-top: 10px;
    font-size: 17px;
  }
  .about-me {
    font-size: 15px;
  }

  .skill-logos {
    flex-direction: column;
    gap: 5px;
  }

  .contact {
    margin: 7%;
  }
}
