.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 5% 3.5%;
}

.title {
  font-size: 15vw;
  font-weight: bold;
}

.red-item {
  color: #cc4f4f;
}

.personal-info-container {
  margin: 5% 7% 0 7%;
}

.personal-info {
  font-weight: 600;
  font-size: 25px;
  text-align: left;
}

.about-me {
  margin-top: 5%;
  text-align: left;
  font-size: 17px;
}
